.menu-full {
    background: black;
    display: grid;
    justify-content: space-between;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0px 25px;
}
.menu-main ul{
    display: flex;
}
.menu-main ul li a{
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;

}