.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0px 25px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.order-container {
    background: #FFE0B3;
    margin: 0px 10px;
    padding: 0px 30px;
    position: sticky;
}
